* {
    font-family: Kanit, sans-serif;
}
.container {
    width: 80%;
    margin: 0 auto;
}

.container .box-1 img {
    width: 40%;
    margin: 0 auto;
}
h2 {
    margin-left: 2rem;
}
.box-1 {
    text-align: center;
}

.box-2 {
    width: 70%;
    margin: 0 auto;
}

.box-2 p {
    border: 2px solid yellow;
    padding: 25px;
    border-radius: 10px;
}

@media screen and (max-width:1023px) {

}

/* <= 576px */
@media screen and (max-width:576px) {
    html {
        min-width: 350px;
    }
}