* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: 'Kanit', sans-serif;
}

#head {
    background-color: #FFD401;
    border-bottom: 1px solid black;
    position: relative;
}

.btn-h{
    background-color: #FFD401;
    border: 3px solid #FFD401;
}

.navbar {
    background-color: #FFD700;
    box-shadow: 0px 10px 10px rgb(166, 165, 165) ;

}

.navbar-nav .nav-link {
    color: #000000;

}

.dropend .dropdown-toggle {
    color: black;
}

.dropdown-item:hover {
    background-color: #fceda1;
    color: black;
}

.dropdown .dropdown-menu {
    display: none;
}

.dropdown:hover>.dropdown-menu,
.dropend:hover>.dropdown-menu {
    display: block;
    margin-top: .1em;
    margin-left: .1em;
}


.navbar{
    box-shadow: none;
}

.btn-search {
    background-color: #FFAB07;
    border: 2px solid #FFAB07;
    color: black;
}

.btn-p{
    background-color: #FFD700;
    border: none;
}
.navbread {
    padding: 0.5rem 1.5rem;
}

.btn-search:hover {
    transform: translate(2px, -2px);
}


/* ----------breadcump------------ */
.breadcump{
    padding: 2%;
}
.breadcump a{
    color: black;
    text-decoration: none;
}
.breadcump a:hover{
    text-decoration: underline;
}
#content h2{
    text-align: center;
    margin-top: 1%;
}
.main{
    display: flex;
    width: 80%;
    height: 300px;
    margin: 3% auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    border: 3px solid #FFD401;
    border-radius:50px;
    overflow: hidden;
}
.photo{
    width: 40%;
    height: 300px;
    background-color: rgb(99, 98, 98);
    overflow: hidden;
    border-right: 3px solid #FFD401;
}
.photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.info{
    border-bottom: 2px solid #e5e5e5;
    width: 60%;
    height: 300px;
    padding: 2% 2%;
    font-size: 1rem;
    text-overflow: ellipsis;
    
}
.info h4{
    border-bottom: 1px solid #e5e5e559;
}
.info p{
    font-family: Kanit;
    margin: 10px 0;
    text-indent: 3rem;
    
}
p.t{
    height: 10vh;
    overflow: hidden;
    text-overflow: ellipsis;
}
.center{
    text-align: right;
    padding-top: 8%;
}
.btn-content{
    border: 3px solid #FFAB07;
    background-color: #FFAB07;
    border-radius: 20px;
    padding: 2% 3%;
}
.btn-content a{
    color: black;
    text-decoration: none;
}

/* --------------footer----------------- */
.footer {
    background-color: #FFD401;
    display: flex;
    justify-content: space-between;
    margin-top: 7%;
    padding: 3rem;
    box-shadow: 0px -5px 10px rgb(166, 165, 165) ;
}
.f {
    width: 50%;

}
.pic {
    width: 50%;
    margin: 0 auto;
}
.pic img {
    width: 100%;
}
.icon{
    width: 25%;
    display: flex;
    margin: 0 auto;
}
.icon img{
    width: 90%;
}
a {
    color: black;
    text-decoration: none;
}
.f a:hover{
    text-decoration: underline;
}
.nonetype li {
    list-style-type: none;
}


@media screen and (max-width:1023px){
    html {
        min-width: 576px;
    }
    .main{
    
        height: 20vh;
        border-radius: 20px;
    }
    .info{
        width: 100%;
    }
    .info p{
        width: 100%;
        height: 50px;
    }
    .photo{
        height: 300px;
        width:min-content;
        border-right: none;
    }
    .footer{
        height: 45vh;
    }
    .f {
       width: 30%;
    }
    .ad{
        margin-left: 2rem;
    }
}
@media screen and (max-width:576px){
    html {
        min-width: 350px;
    }
    .main{
        height: 20vh;
       
    }
    .info h4{
         font-size:medium;
    }
    .info p{
        height: 50px;
        font-size:small;
        text-indent: 1rem;
    }
    p.t{
        height: 60px;
    }
    .center{
        padding: 0;
    }
    .photo{
        height: 300px;
    }
    .footer{
        height: 65vh;
        flex-wrap: wrap;
    }
    .f {
       width: 50%;
       font-size: small;
    }
    .ad{
        margin-left: 2rem;
    }
}
@media screen and (min-width:769px) {
    .dropend:hover>.dropdown-menu {
        position: absolute;
        top: 0;
        left: 100%;
    }

    .dropend .dropdown-toggle {
        margin-left: .2em;
    }
}


