* {
    font-family: Kanit, sans-serif;
}
.container {
    width: 100%;
    display: flex;
}

.sidebar {
    border: 2px solid #FFAB07;
    border-radius: 10px;
    width: 30%;
}

.sidebar ul {
    padding-left: 0.5rem;
}

.sidebar ul li {
    list-style-type: none;
    color: #FFAB07;
}

.sidebar ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.side {
    border-bottom: 2px solid #FFAB07;
    padding-bottom: 0.5rem;
    padding-right: 2rem;
    
}

.sidebar p {
    font-size: 16px;
    font-weight: 800;
    text-align: center;
    
}

.product_head {
    margin-left: 5rem;
}

.product {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: center;
    
}

.box .img {
    text-align: center;
    position: relative;
}

.box .img img {
    width: 90%;
    height: auto;

}

.box {
    border: 2px solid #FFAB07;
    border-radius: 10px;
    width: 25%;
    height: auto;
}

.text {
    border-top: 2px solid #FFAB07;
    padding: 0.2rem;
}

.price {
    display: flex;
    justify-content: space-between;
}
.text .name {
    font-weight: 600;
}
.text_price {
    margin-left: 0.4rem;
    padding-top: 0.5rem;
    color: red;
    font-size: 18px;
    font-weight: 600;
}

.heart_price {
    margin-left: 6rem;
    padding-top: 0rem;
}

.cart_button {
    top: 60px;
    right: 50px;
    position: absolute;
    z-index: 999;
    display: none;
    border-radius: 20px;
    width: 50%;
    background-color: #FFAB07;
    border: none;
    padding: 0.3rem;
    margin-top: 1rem;
    transition: 0.5s;
}

.box .img:hover .cart_button {
    display: block;
    transition: 0.5s;
}
.box .img:hover  img{
    opacity: 0.6;
}
.box {
    background-color: #ffdb94;
}
.box .img {
    background-color: white;
}

@media screen and (max-width:1023px) {
    .heart_price {
        margin-left: 1.5rem;
        padding-top: 0.8rem;
    }
    .text_price {
        margin-left: 0;
        font-size: 16px;
    }
}

/* <= 576px */
@media screen and (max-width:576px) {
    .cart_button {
        top: 0;
        right: 20px;
    }
    .heart_price {
        margin-left: 0.5rem;
        padding-top: 0.5rem;
    }
    .text_price {
        margin-left: 0;
        font-size: 10px;
    }
    .box {
        width: 45%;
    }
    html {
        min-width: 350px;
    }
    .product {
        gap: 1rem;
    }
}